services:
  backend:
    build: ./backend
    ports:
      - "0:3000"
    environment:
      - PORT=3000
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=app
      - POSTGRES_DB=app
    volumes:
      - avt-stage-db-data:/var/lib/postgresql/data

volumes:
  avt-stage-db-data:
